click 
colorama 
dlib 
face-recognition 
face-recognition-models 
numpy 
opencv-python
opencv-python-headless
pillow
setuptools
wheel
tensorflow 
keras
pandas
jupyter
notebook 
tqdm
opencv-contrib-python